@font-face {
  font-family: '../fonts/TT Commons';
  src: url('../fonts/TTCommons-Regular.eot');
  src: local('../fonts/TT Commons Regular'), local('../fonts/TTCommons-Regular'),
    url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Regular.woff') format('woff'),
    url('../fonts/TTCommons-Regular.ttf') format('../fonts/Truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../fonts/TT Commons';
  src: url('../fonts/TTCommons-Bold.eot');
  src: local('../fonts/TT Commons Bold'), local('../fonts/TTCommons-Bold'),
    url('../fonts/TTCommons-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Bold.woff') format('woff'),
    url('../fonts/TTCommons-Bold.ttf') format('../fonts/Truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '../fonts/TT Commons';
  src: url('../fonts/TTCommons-DemiBold.eot');
  src: local('../fonts/TT Commons DemiBold'),
    local('../fonts/TTCommons-DemiBold'),
    url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-DemiBold.woff') format('woff'),
    url('../fonts/TTCommons-DemiBold.ttf') format('../fonts/Truetype');
  font-weight: 600;
  font-style: normal;
}
