.our-life {
  padding-top: 100px;
  &__btn {
    margin-left: 68px;
    margin-top: 6px;
    padding: 19px 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid #ff0e0e;
    box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ff0e0e;
    width: 192px;
    height: 58px;
    background: transparent;
  }
  .life-slider {
    padding-top: 83px;
    padding-left: 78px;
    width: 100%;
    .slick-list {
      overflow: visible;
    }
    .slick-slide {
      max-width: 490px;
      width: 93%;
      max-height: 490px;
      height: 100%;
      overflow: visible;
      margin-right: 120px;
      transform: rotate(-15deg);
      &:nth-child(odd) {
        transform: rotate(0);
      }
    }
  }
}
