.our-life {
  padding-top: 100px;
  &__btn {
    margin-left: 68px;
    margin-top: 6px;
    padding: 19px 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid #ff0e0e;
    box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ff0e0e;
    width: 192px;
    height: 58px;
    background: transparent;
  }
  .life-slider {
    padding-top: 78px;
    padding-left: 53px;
    img {
      max-width: 490px;
      width: 100%;
      max-height: 490px;
      height: 100%;
    }
  }
}
