header.header
  .container
    .header__title Павел Дубицкий
    .header__subtitle.
     Верстка сайтов на HTML и CSS <br>
     HTML5 CSS3 JS jQuery
    .header__arrow
      <i class="fa fa-chevron-down" arria-hidden="true"></i>

