* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background: linear-gradient(-31deg, #378fd9 0%, #4ebefe 100%);
  padding-top: 66px;
  padding-bottom: 72px;
}
.header__wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.header__logo {
  width: 98px;
  height: 38px;
}

.header__title {
  margin-top: 171px;
  max-width: 555px;
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  /* Text style for "С,  помощь" */
  letter-spacing: 0.74px;
  line-height: 49px;
}

.header__title span {
  /* Text style for "мечтаю!" */
  font-size: 59px;
  letter-spacing: 1.18px;
  line-height: 73px;
}

.header__text {
  margin-top: 47px;
  width: 397px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.32px;
}

.header__right img {
  width: 641px;
  height: 641px;
}

.header__btn {
  margin-top: 45px;
  text-decoration: none;
  display: inline-block;
  width: 222px;
  height: 56px;
  background-color: #ffd429;
  color: #2e2a1b;
  font-family: 'Montserrat';
  font-size: 15px;

  letter-spacing: 0.3px;
  text-align: center;
  cursor: pointer;
  padding-top: 20px;
}
