.default-btn {
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.35px;
  border: 1px solid #ffc222;
  padding: 8px 30px 5px 24px;
  border-right-width: 20px;
  position: relative;
  margin: 0 auto;
  outline: none;
  cursor: pointer;


  &:after {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
  }
}