.slider {
  background: url(../img/slider-fon.jpg) center center/cover no-repeat;
  min-height: 500px;

  &__inner {
    position: relative;
  }

  &__item-content {
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
  }

  &__text {
    color: #d3d2d2;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
  }


}

.slick-btn {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  font-family: 'icomoon';
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: #ffc222;

  &.slick-disabled {
    background-color: transparent;
    cursor: default;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


}

.slick-next {
  right: 0;

  &:before {
    content: "\f105";

  }
}

.slick-prev {
  left: 0;

  &:before {
    content: "\f104";

  }
}