.advantages {
  padding: 55px 40px;
  background: url(../img/advantages-bg.jpg) center center/cover no-repeat;
  min-height: 285px;


  &__inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    max-width: 360px;
    padding: 0 20px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 60px 0 15px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      border: 2px solid #ffc222;

    }

    &:after {
      content: "\f00c";
      font-family: 'icomoon';
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
    }
  }

  &__text {
    color: #d3d2d2;
    font-family: "PT Serif";
    line-height: 24px;
    letter-spacing: 0.14px;
  }
}