.form {
  @include titleBlock();
  position: relative;
  padding-top: 45px;

  &__inner {
    padding-bottom: 40px;
    background: url(/img/form-bg.png) bottom right no-repeat;
    min-height: 460px;
  }

  &__box {
    max-width: 840px;
    padding-top: 45px;

    &-left {
      max-width: 260px;
      width: 100%;
    }

    &-right {
      max-width: 555px;
      width: 100%;
    }

    &-inner {
      display: flex;
      justify-content: space-between;

    }

    &-inner label,
    input,
    textarea,
    select {
      display: block;
      width: 100%;
    }

    &-inner label {
      color: #282828;
      line-height: 36px;
      font-family: 'Roboto', sans-serif;
    }

    &-inner input {
      margin-bottom: 8px;
      outline: none;
      height: 40px;
      border: 1px solid #e6e6e6;

    }

    &-inner select {
      outline: none;

      padding: 0 10px;
      padding-left: 17px;
    }

    &-inner textarea {
      height: 207px;
      border: 1px solid #e6e6e6;
      padding: 0 10px;
      outline: none;
      resize: none;
      margin-bottom: 42px;
    }

    &-inner button {
      background-color: transparent;
      color: #282828;
      float: right;
    }

    &-inner .jq-selectbox.jqselect {
      display: block;
      width: 100%;
    }

    &-inner .jq-selectbox__select {
      height: 40px;
      border: 1px solid #e6e6e6;
      padding-left: 17px;

    }

    &-inner .jq-selectbox__trigger-arrow::before {
      content: "\f105";
      font-family: 'icomoon';
      position: absolute;
      top: 0;
      right: 17px;
      transform: rotate(90deg);
    }



    &-inner .jq-selectbox__dropdown {
      width: 100%;
      margin: 2px 0 0;
      padding: 0;
      border: 1px solid #e6e6e6;
      background: #FFF;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
      font: 14px/18px Arial, sans-serif;
    }

    &-inner .jq-selectbox ul {
      margin: 0;
      padding: 0;
    }

    &-inner .jq-selectbox li {
      min-height: 18px;
      padding: 5px 10px 6px;
      color: #231F20;
    }

    &-inner .jq-selectbox li.selected {
      background-color: #A3ABB1;
      color: #FFF;
    }

    &-inner .jq-selectbox li:hover {
      background-color: #08C;
      color: #FFF;
    }

    &-inner .jq-selectbox li.disabled {
      color: #AAA;
    }

    &-inner .jq-selectbox li.disabled:hover {
      background: none;
    }

    &-inner .jq-selectbox li.optgroup {
      font-weight: bold;
    }

    &-inner .jq-selectbox li.optgroup:hover {
      background: none;
      color: #231F20;
      cursor: default;
    }

    &-inner .jq-selectbox li.option {
      padding-left: 25px;
    }
  }

}