.header {
  font-family: 'Roboto', sans-serif;

  &__top {
    background-color: #303030;
  }

  &__btn {
    float: right;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;

    &:before {
      content: '\f0b1';
      font-family: 'icomoon';
      position: absolute;
      left: 22px;
      color: #323232;
    }
  }

  &__contatcs:after {
    content: '';
    clear: both;
    display: block;
  }

  &__phone,
  &__email {
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
  }

  &__phone {
    padding-left: 20px;
    padding-right: 30px;
    position: relative;

    &:before {
      content: '\f095';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      top: 1px;
      color: #ffc222;
    }
  }

  &__email {
    padding-left: 24px;
    position: relative;

    &:before {
      content: '\f003';
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      color: #ffc222;
    }
  }

  &__content {
    padding: 34px 0px 23px;

    &-inner {
      display: flex;
      justify-content: space-between;
    }
  }

  .menu {
    li {
      display: inline-block;

      &+li {
        padding-left: 10px;
      }
    }

    a {
      color: #323232;
      font-size: 16px;
      line-height: 36px;
      border: 1px solid transparent;
      padding: 0 16px;
      transition: all 0.3s;

      &:hover {
        border-color: #ffc222;
      }
    }
  }
}