.news {
  @include titleBlock();
  @include topBtn();
  padding: 67px 0 110px;

  background-color: #f9f9f9;

  &__inner {
    display: flex;
    justify-content: space-between;

    .slick-btn {
      top: auto;
      bottom: -110px;
    }

    .slick-next {
      right: -35px;
    }

    .slick-prev {
      right: 20px;
      left: auto;
    }

    .slick-disabled {
      border-color: #dadada;
    }

    .slick-disabled:before {

      color: #dadada;

    }
  }

  &__slider {
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;

    &:before {
      content: "\f10e";
      position: absolute;
      font-family: "icomoon";
      width: 65px;
      height: 31px;
      background-color: #ffc222;
      color: #ffffff;
      font-size: 16px;
      line-height: 30px;
      top: 0;
      left: 70px;
      text-align: center;

    }

    &-title {
      color: #242424;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.9px;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
    }

    &-text {
      color: #5e5e5e;
      line-height: 18px;
      letter-spacing: 0.14px;
      margin-bottom: 30px;
    }

    &-author {
      color: #212020;
      font-family: 'Roboto', sans-serif;
      line-height: 18px;
      letter-spacing: 0.14px;
    }
  }

  &__blog {
    max-width: 260px;
    width: 100%;

    &-title {
      color: #242424;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.8px;
      padding: 12px 0;
    }

    &-text {
      color: #5e5e5e;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.14px;
    }
  }

  &__images {
    position: relative;
  }

  &__date {
    position: absolute;
    background-color: #ffc222;
    color: #f9f9f9;
    font-weight: 700;
    text-align: center;
    top: 0px;
    left: 10px;
    width: 47px;
    height: 54px;
    padding-top: 25px;

  }


}