.services {
  padding: 50px 0 30px;



  @include titleBlock();
  @include topBtn();


  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 360px;
    height: 363px;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
    background-color: #f9f9f9;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    min-height: 375px;

    &-title {

      color: #212020;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      padding: 24px 0;

    }

    &-text {
      color: #5e5e5e;
      line-height: 18px;
      letter-spacing: 0.14px;
      padding: 0 30px 30px;

    }

    &-btn {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;



      & .default-btn {
        color: #373636;

      }

      & .default-btn:after {
        color: #fff;
      }
    }

    &-link {
      color: #050505;
      font-family: 'Roboto', sans-serif;
      line-height: 18px;
      border-bottom: 1px solid #050505;
      margin-right: 65px;
    }
  }
}