<!DOCTYPE html>
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Сайт портфолио
      link(rel="stylesheet", href="scss/style.scss")
      link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
      <link href="https://fonts.googleapis.com/css?family=Roboto:regular,italic,700,700italic" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,italic,700,700italic" rel="stylesheet" />
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    body
      block content
      include pug/includes/header.pug
      include pug/includes/portfolio.pug


